@tailwind base;


:root {
  --se-purple: hsl(240, 60%, 76%);
  /*--se-purple: rgb(187, 187, 205);*/
  --se-yellow: hsl(66, 100%, 50%);
  /*--se-yellow: rgb(226, 255, 0);*/
}

/* my resets */
html, body {
  height: 100%;
}

body {
  font-size: 24px;
  @apply w-full text-white;
}

svg {
  fill: currentColor;
}
/* my resets end */

@tailwind components;

@tailwind utilities;

.font-gramers {
  font-family: "Gramers Light"
}

.font-open-sans {
  font-family: "Open Sans"
}

.se-bg-purple {
  background-color: var(--se-purple);
}

.se-text-yellow {
  color: var(--se-yellow);
}


